[submodule "ThirdParty/RanokCalculator"]
	path = ThirdParty/RanokCalculator
	url = https://github.com/Balalarga/RanokCalculator.git
[submodule "ThirdParty/"]
	path = ThirdParty/NodeENodeEditorditor
	url = https://github.com/Balalarga/imgui-node-editor.git
[submodule "ThirdParty/ImGui"]
	path = ThirdParty/ImGui
	url = https://github.com/thedmd/imgui.git
	branch = layouts
